BR2_microblazeel=y
BR2_OPTIMIZE_FAST=y
BR2_TOOLCHAIN_EXTERNAL=y
BR2_TARGET_GENERIC_ROOT_PASSWD="analog"
BR2_ROOTFS_POST_BUILD_SCRIPT="board/analogdevicesinc/common/post-build.sh"
BR2_PACKAGE_FRU_TOOLS=y
BR2_PACKAGE_LIBTOMCRYPT=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_LIBAIO=y
BR2_PACKAGE_LIBIIO=y
# BR2_PACKAGE_LIBIIO_USB_BACKEND is not set
# BR2_PACKAGE_LIBIIO_SERIAL_BACKEND is not set
BR2_PACKAGE_LIBIIO_TESTS=y
BR2_PACKAGE_LIBINI=y
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_AVAHI_LIBDNSSD_COMPATIBILITY=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_LOCALOPTIONS_FILE="board/pluto/dropbrear_localoptions.h"
BR2_PACKAGE_ETHTOOL=y
BR2_PACKAGE_GESFTPSERVER=y
BR2_PACKAGE_MII_DIAG=y
BR2_PACKAGE_PHYTOOL=y
BR2_PACKAGE_JESD204B_STATUS=y
BR2_TARGET_ROOTFS_CPIO=y
BR2_TARGET_ROOTFS_CPIO_GZIP=y
BR2_PACKAGE_HOST_DROPBEAR=y
